::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #e5e5e5;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #e5e5e5;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #e5e5e5;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #e5e5e5;
}
.my-app {
    margin-top: 77px;
    margin-left: 20px;
    font-size: 18px;
    width: 149px;
    height: 22px;
    float: left;
    letter-spacing: 1px;
    color: rgb(153, 153, 153);
}
.my-app-vertical-line {
    border-right: 2px solid rgb(153, 153, 153);
    margin-left: 10px;
}
.main-header {
    height: 105px;
}
.search {
    margin-top: 79px;
    margin-left: 20px;
    float: left;
    position: relative;
    width: 138px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 50px;
}
.search-input-active {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50px;
}
.search input {
    border: none;
    padding: 0;
    width: 94px;
    line-height: 16px;
    height: 16px;
    margin-left: 25px;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
}
.search-find {
    color: rgb(204, 204, 204);
    line-height: 22px;
    position: absolute;
    left: 7px;
    top: -1px;
}
.cancle {
    font-size: 14px;
    color: rgb(204, 204, 204);
    position: absolute;
    left: 120px;
    top: -1px;
}
/*快速入门的动画*/

.getting-started {
    text-align: center;
    line-height: 19px;
    width: 18px;
    height: 19px;
    color: rgb(204, 204, 204);
    margin-top: 77px;
    margin-right: 20px;
    float: right;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    transition: width .3s ease;
    webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
}
.getting-started span {
    display: none;
}
.getting-started:hover span,
.getting-started-active span {
    height: 19px;
    display: block;
    color: #FFFFFF;
    line-height: 20px;
    padding-left: 5px;
    float: right;
    margin-right: 19px;
}
.getting-started:hover,
.getting-started-active {
    padding: 0;
    float: right;
    text-align: left;
    padding-left: 19px;
    border-radius: 4px;
    background-color: #E84D1E;
    color: #FFFFFF;
    width: 84px;
    height: 19px;
    line-height: 19px;
    border: 1px solid rgb(204, 68, 27);
    transition: width .3s ease;
    webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
}
/*快速入门的动画效果结束*/

/*以下是卡片的部分*/

.input-text {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    height: 34px;
}
.cards-group {
    margin: 0 auto;
    width: 980px;
    overflow: hidden;
    height: auto;
}
.cards {
    width: 281px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 50px 10px 5px 28px;
    float: left;
}
/* 添加应用的卡片 */

.cards-creat {
    border: 3px dashed rgb(229, 229, 229);
    height: 311px;
    margin-bottom: 3px;
}
.cards-creat button {
    width: 239px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 13px;
}
.cards-form {
    padding: 46px 20px;
    padding-right: 0;
    margin: 0;
    position: relative;
}
.cards-form li {
    list-style: none;
}
.cards-form-li {
    margin-top: 25px;
}
.cards-form-input {
    width: 229px;
    padding-left: 10px;
}
.cards-form-input {
    width: 229px;
    padding-left: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    height: 34px;
    color: #333333;
}
.cards-create-btn {
    padding: 0;
    width: 239px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
    border: none;
}
/* 添加应用的卡片 - 激活状态 */

.cards-creat-section-tipserror {
    display: block;
    position: absolute;
}
.cards-creat-cursor button {
    background-color: rgb(230, 80, 30);
    color: #FFFFFF;
    border-color: rgb(205, 70, 70);
}
.cards-creat-cursor button:hover {
    border-color: rgb(220, 85, 40);
    background-color: rgb(235, 115, 75);
}
.cards-creat-cursor button:active {
    border-color: rgb(230, 120, 85);
    background-color: rgb(240, 145, 110);
}
.cards-creat-cursor {
    background-color: rgb(237, 237, 237);
    box-shadow: 0 1px 2px rgba(43, 59, 93, .29), 0 0 13px rgba(43, 59, 93, .29);
    border: 1px solid rgba(237, 237, 237, .29);
    height: 315px;
    width: 285px;
    margin: 50px 10px 3px 28px;
}
.cards-creat-spinner {
    margin-top: 17px;
}
/* 添加卡片 结束 */

.cards-normal {
    width: 281px;
    height: 315px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(43, 59, 93, .29);
    position: relative;
    z-index: 0;
}
.cards-normal:hover {
    box-shadow: 0 1px 2px rgba(43, 59, 93, .29), 0 0 13px rgba(43, 59, 93, .29);
}
.cards-normal-bg {
    width: 281px;
    height: 178px;
    background-size: 281px 178px;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.cards-normal-bg i,
.cards-normal-name {
    position: absolute;
    top: 14px;
}
.cards-normal-bg i {
    left: 12px;
}
.cards-normal-name {
    left: 28px;
}
.cards-normal-title {
    text-align: center;
    padding-top: 17px;
    color: #333333;
    letter-spacing: 1px;
}
.cards-normal-date {
    text-align: center;
    color: rgb(204, 204, 204);
    margin-top: -6px;
    padding-bottom: 21px;
}
.cards-normal-Owner {
    background-color: rgb(237, 237, 237);
    width: 281px;
    height: 50px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -19px;
}
.cards-normal-Owner-left {
    float: left;
    width: 51px;
}
.cards-normal-Owner-left:hover {
    cursor: pointer;
}
.cards-normal-Owner i,
.cards-normal-Owner span {
    height: 49px;
    line-height: 49px;
    color: rgb(232, 77, 30);
}
.cards-normal-Owner i {
    padding-left: 13px;
    padding-right: 8px;
}
.developers {
    height: 49px;
    width: auto;
    float: right;
    margin-right: 10px;
    overflow: hidden;
}
.cards-normal-add-developer,
.cards-normal-developer {
    display: inline-block;
    margin-top: 13px;
}
.cards-normal-add-developer img {
    cursor: pointer;
}
.cards-normal-add-developer,
.cards-normal-developer img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.cards-normal-developer img {
    opacity: 0.702
}
.cards-normal-developer img:hover {
    opacity: 1;
}
/*遮罩的部分*/

.user-mask {
    background-color: rgb(51, 49, 48);
    width: 281px;
    height: 267px;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.902;
    position: absolute;
    z-index: 10;
    bottom: 49px;
}
.user-items {
    float: right;
    margin-right: 22px;
    margin-top: 14px;
}
.user-add,
.pen,
.trash-1 {
    color: rgb(153, 153, 153);
    padding-left: 18px;
    cursor: pointer;
}
.user-add-develop,
.pen-develop,
.trash-1-develop {
    color: rgb(74, 74, 74);
    padding-left: 18px;
}
.user-add:hover,
.pen:hover,
.trash-1:hover {
    color: rgb(255, 255, 255);
}
.user-add1,
.pen1,
.trash-11 {
    color: rgb(74, 74, 74);
    padding-left: 20px;
}
.user-url {
    color: rgb(153, 153, 153);
    margin-top: 145px;
    margin-left: 23px;
}
.user-url a {
    color: rgb(153, 153, 153);
}
.user-url a:hover {
    color: rgb(255, 255, 255);
}
.user-url-app {
    margin-top: 4px;
}
.user-url-address {
    position: absolute;
    left: 44px;
    width: 232px;
    overflow: hidden;
}
.user-manage-btn {
    margin-top: 22px;
    width: 113px;
    font-size: 16px;
    margin-left: 20px;
}
.user-upgrade-btn,
.user-leave-btn {
    margin-top: 22px;
    width: 113px;
    font-size: 16px;
    margin-left: 13px;
}
.user-add-exp {
    position: absolute;
    z-index: 20;
    background-color: rgb(230, 230, 230);
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    right: 55px;
    top: -24px;
}
.user-add-exp-triangle {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(230, 230, 230);
    position: absolute;
    right: 91px;
    top: -1px;
    z-index: 20;
}
.pen-exp {
    position: absolute;
    z-index: 30;
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: -25px;
    right: 26px;
}
.pen-exp-triangle {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(230, 230, 230);
    position: absolute;
    right: 56px;
    top: -1px;
    z-index: 30;
}
.trash-1-exp {
    position: absolute;
    border-radius: 3px;
    z-index: 40;
    background-color: rgb(230, 230, 230);
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: -25px;
    right: -5px;
}
.trash-1-exp-triangle {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(230, 230, 230);
    position: absolute;
    right: 24px;
    top: -1px;
    z-index: 40;
}
/*遮罩的部分*/

.cards-normal-bg2 i,
.cards-normal-bg2 span {
    color: rgb(255, 255, 255);
}
.cards-normal-bg3 i,
.cards-normal-bg3 span {
    color: rgb(255, 255, 255);
}
.cards-normal-bg5 i,
.cards-normal-bg5 span {
    color: rgb(255, 255, 255);
}
.cards-normal-Developer {
    background-color: rgb(135, 157, 164);
}
.cards-normal-Developer i,
.cards-normal-Developer span {
    color: rgb(255, 255, 255);
}
/*一秒钟快速换背景图片*/

.cards-normal-bg000 {
    background-image: url(../images/console_index/cards-normal-img1.jpg);
}
.cards-normal-bg001 {
    background-image: url(../images/console_index/cards-normal-img2.jpg);
}
.cards-normal-bg010 {
    background-image: url(../images/console_index/cards-normal-img3.jpg);
}
.cards-normal-bg011 {
    background-image: url(../images/console_index/cards-normal-img4.jpg);
}
.cards-normal-bg100 {
    background-image: url(../images/console_index/cards-normal-img5.jpg);
}
.cards-normal-bg101 {
    background-image: url(../images/console_index/cards-normal-img1.jpg);
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .cards-normal-bg000 {
        background-image: url(../images/console_index/cards-normal-img1@2x.jpg);
    }
    .cards-normal-bg001 {
        background-image: url(../images/console_index/cards-normal-img2@2x.jpg);
    }
    .cards-normal-bg010 {
        background-image: url(../images/console_index/cards-normal-img3@2x.jpg);
    }
    .cards-normal-bg011 {
        background-image: url(../images/console_index/cards-normal-img4@2x.jpg);
    }
    .cards-normal-bg100 {
        background-image: url(../images/console_index/cards-normal-img5@2x.jpg);
    }
    .cards-normal-bg101 {
        background-image: url(../images/console_index/cards-normal-img1@2x.jpg);
    }
}
/*一秒钟快速换背景图片结束*/

.section-tipserror {
    left: 30px;
}
.whole-url {
    width: 230px;
    display: block;
    text-transform: none;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    top: 170px;
    left: 30px;
    word-break: break-all;
}
.whole-url span {
    color: rgb(233, 88, 70);
}
/*卡片部分结束*/

.view-more-function {
    margin-top: 50px;
    height: 117px;
    width: auto;
    visibility: hidden;
}
.view-more {
    display: block;
    margin: 0 auto;
    border-radius: 18px;
    width: 232px;
    font-size: 16px;
}
.view-more span {
    font-size: 16px;
    color: rgb(204, 204, 204);
}
.view-more:hover {
    background-color: rgb(232, 77, 30);
}
.view-more:hover span {
    color: rgb(255, 255, 255);
}
/*loading动画效果*/

.view-more-spinner {
    margin-top: 63px;
}
/*loading动画效果*/

/*以下是foot部分*/

#console-index-footer {
    margin-top: 65px;
    border-top: 1px solid rgb(204, 204, 204);
    min-height: 370px;
}
.footer-nav {
    float: left;
    height: 130px;
    width: 580px;
    margin: 44px auto 0 20px;
}
.footer-nav dl {
    margin: 0;
    float: left;
    width: 140px;
}
.footer-nav dt {
    font-size: 16.052px;
    color: rgb(153, 153, 153);
    font-weight: 600;
    margin-bottom: 17px;
}
.footer-nav dd {
    margin-left: 0px;
    line-height: 2;
}
.footer-nav dd a {
    color: rgb(153, 153, 153);
}
.footer-nav dd a:hover {
    color: rgb(232, 77, 30);
    border-bottom: 1px solid rgb(232, 77, 30);
}
.footer-welcome {
    width: 228px;
    text-align: left;
    margin: 44px 20px 0 auto;
    float: right;
}
.welcome-use {
    font-size: 24px;
    color: rgb(153, 153, 153);
    margin-bottom: 17px;
}
.welcome-use span {
    padding-left: 10px;
}
.welcome-text {
    text-align: left;
    color: rgb(153, 153, 153);
    line-height: 2;
}
.footer-link {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}
.link-text {
    color: rgb(153, 153, 153);
}
.link-icons {
    margin-top: 15px;
}
.link-icon {
    float: left;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}
.link-icon-weibo:hover {
    background-color: rgb(218, 51, 51);
}
.link-icon-weixin:hover {
    background-color: rgb(34, 172, 56);
}
.link-icon-weixin img {
    display: none;
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 100px;
    bottom: 188px;
    right: 58px;
}
.link-icon-github:hover {
    background-color: rgb(67, 67, 67);
}
.link-icon-weibo {
    margin-left: 0px;
}
.link-icon i {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 37px;
}
.footer-logo {
    float: right;
    width: 227px;
    margin: 38px 20px 0 auto;
}
.wilddog-info {
    float: left;
    margin-left: 10px;
}
.wilddog-icon i {
    font-size: 50px;
    color: rgb(153, 153, 153);
}
.wilddog-icon-sup {
    font-family: "Arial";
    top: -3.3em;
    color: rgb(153, 153, 153);
}
.wilddog-url {
    margin-top: -10px;
    color: rgb(153, 153, 153);
    ;
}
.wilddog-img {
    float: right;
    margin-top: 19px;
    margin-right: 12px;
}
/*加载的部分*/

*html body {
    height: 100%
}
.web-loading-bg {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
#web-loading {
    display: none;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    left: 39%;
    top: 26%;
    z-index: 101;
}
.web-loading-text {
    font-size: 48px;
    color: rgb(233, 88, 70);
}
.web-loading-info {
    margin: 0;
    color: rgb(51, 51, 51);
}
.web-wilddog-paws {
    margin-top: 35px;
}
.web-wilddog-first-row {
    position: relative;
    left: -25px;
}
.web-wilddog-paws img {
    width: 20px;
    height: 20px;
    margin-left: 40px;
}
/*加载的部分结束*/

/*弹框部分开始*/

/* ==========================================================================

   ***************************修改应用名称弹窗***************************
   ========================================================================== */

#mod-app,
#mod-app-success {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.mod-app-cancle {
    float: right;
    font-size: 24px;
    margin-bottom: -15px;
}
.mod-app-cancle a {
    color: rgb(153, 153, 153);
}
.mod-app-title {
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 480px;
    height: 195px;
    float: left;
}
.mod-app-title-pen {
    margin-top: 37px;
}
.mod-app-title-pen i {
    font-size: 48px;
    color: rgb(50, 170, 110);
}
.mod-app-title-text {
    margin-top: 12px;
    font-size: 24px;
    color: rgb(50, 170, 110);
    letter-spacing: 1px;
}
.mod-app-form {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    background-color: rgb(237, 237, 237);
    width: 480px;
    height: 265px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    float: left;
}
.mod-app-form ul {
    margin: 0;
    padding: 0;
    margin-top: 48px;
}
/*成功提示的部分*/

.mod-app-success-prompt {
    font-size: 48px;
    color: rgb(50, 170, 110);
    float: left;
    margin-top: 52px;
    margin-left: 87px;
}
.mod-app-success-prompt-text {
    margin-left: 13px;
}
/*成功提示的部分*/

.mod-app-input {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 12px;
}
.mod-app-input input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    width: 288px;
    height: 34px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 34px;
    padding-left: 12px;
}
.mod-app-section-tipserror {
    display: block;
    position: absolute;
    left: 102px;
    top: 87px;
}
.mod-app-info {
    color: rgb(153, 153, 153);
    text-align: left;
    margin-top: 20px;
    margin-left: 90px;
}
.mod-app-info span {
    vertical-align: text-bottom;
}
.mod-app-info1 {
    margin-top: 3px;
}
.mod-app-info i {
    padding-right: 12px;
}
.mod-app-btn {
    margin-top: 33px;
    width: 221px;
    font-size: 14px;
}
.mod-app-btn-close {
    width: 221px;
    font-size: 14px;
    margin-top: 51px;
}
.mod-app-spinner {
    margin-top: 10px;
}
.mod-app-spinner > div {
    background-color: rgb(102, 102, 102);
}
/* ==========================================================================

   ***************************管理开发者弹窗***************************
   ========================================================================== */

#man-app,
#man-app-success {
    width: 661px;
    margin: 0 auto;
    text-align: center;
}
#man-app-develop-items {
    width: 661px;
    height: 590px;
    margin: 0 auto;
    text-align: center;
}
.man-app-cancle {
    float: right;
    font-size: 24px;
    margin-bottom: -15px;
}
.man-app-cancle a {
    color: rgb(153, 153, 153);
}
.man-app-title {
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 642px;
    height: 195px;
    float: left;
}
.man-app-title-organization {
    margin-top: 37px;
}
.man-app-title-organization i {
    font-size: 48px;
    color: rgb(60, 150, 230);
}
.man-app-title-text {
    margin-top: 12px;
    font-size: 24px;
    color: rgb(60, 150, 230);
    letter-spacing: 1px;
}
.man-app-form {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    background-color: rgb(237, 237, 237);
    width: 642px;
    height: 384px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    float: left;
}
/*开发者列表部分*/

.man-app-form1 {
    height: 336px;
}
.man-app-developer-item {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    width: 498px;
    height: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    margin-top: 25px;
}
.man-app-develop-item-tr {
    display: list-item;
    width: 498px;
    height: 60px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.man-app-develop-item-tr-owner {
    background-color: rgb(255, 255, 255);
    color: rgb(232, 77, 30);
}
.man-app-develop-item-tr:hover {
    background-color: rgb(111, 162, 197);
}
.man-app-develop-item-tr:hover span {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.man-app-develop-item-tr:hover span {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.man-app-develop-item-tr:hover span i {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.man-app-develop-item-tr-last {
    border-bottom: none;
}
.man-app-developer-item-img {
    display: block;
    float: left;
    width: 78px;
    margin-top: 17px;
    margin-left: 20px;
}
.man-app-developer-item-img img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.man-app-developer-item-mail {
    display: block;
    float: left;
    width: 180px;
    margin-top: 23px;
}
.man-app-developer-item-auth {
    display: block;
    float: left;
    width: 124px;
    margin-top: 23px;
}
.man-app-developer-item-wait {
    display: none;
    float: left;
    color: rgb(111, 162, 197);
    width: 60px;
    margin-top: 23px;
}
.man-app-developer-item-close {
    display: none;
    float: left;
    margin-top: 23px;
}
.man-app-developer-item-close i {
    border: 1px solid rgb(204, 204, 204);
    color: rgb(204, 204, 204);
    border-radius: 3px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.man-app-develop-item-tr span i:hover {
    border: 1px solid red;
    color: rgb(232, 77, 30);
}
.man-app-developer-item-confirm-cancle {
    display: block;
    float: left;
    margin-top: 23px;
}
.man-app-developer-item-confirm {
    display: block;
    float: left;
    text-align: center;
    border: 1px solid rgb(233, 88, 70);
    background-color: rgb(233, 88, 70);
    color: rgb(255, 255, 255);
    width: 37px;
    height: 15px;
    line-height: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.man-app-developer-item-cancle {
    display: block;
    float: left;
    text-align: center;
    border: 1px solid rgb(233, 88, 70);
    width: 37px;
    height: 15px;
    line-height: 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*翻页的部分*/

nav {
    float: left;
    position: relative;
    left: 50%;
    position: absolute;
    bottom: 48px;
}
.man-app-page-turning {
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    float: left;
    left: -50%;
}
.man-app-page-turning li {
    float: left;
    width: 23px;
    height: 23px;
    border: 1px solid rgb(204, 204, 204);
    list-style: none;
}
.man-app-page-num,
.man-app-page-next {
    border-left: none !important;
}
.man-app-page-previous {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.man-app-page-next {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.man-app-page-previous a i,
.man-app-page-next a i {
    color: rgb(204, 204, 204);
    line-height: 23px;
}
.man-app-page-num a {
    line-height: 23px;
    color: rgb(204, 204, 204);
    font-family: "Microsoft Yahei";
}
/*当前页面显示*/

.man-app-page-num-current {
    background-color: rgb(60, 150, 230);
    border: 1px solid rgb(98, 144, 175);
}
.man-app-page-num-current a {
    color: rgb(255, 255, 255);
}
/*当前页面显示结束*/

.man-app-page-turning li:hover {
    background-color: rgb(60, 150, 230);
    border: 1px solid rgb(98, 144, 175);
    cursor: pointer;
}
.man-app-page-turning li:hover a {
    color: rgb(255, 255, 255);
}
.man-app-page-turning li:hover a i {
    color: rgb(255, 255, 255);
}
/*翻页的部分结束*/

.man-app-develop-items-spinner {
    position: absolute;
    bottom: 9px;
    left: 39%;
}
.man-app-develop-items-spinner > div {
    background-color: rgb(102, 102, 102);
}
/*开发者列表部分结束*/

/*成功提示的部分*/

.man-app-success-prompt {
    font-size: 48px;
    color: rgb(60, 150, 230);
    float: left;
    margin-top: 87px;
    margin-left: 181px;
}
.man-app-success-prompt-text {
    margin-left: 13px;
}
/*成功提示的部分*/

.man-app-function {
    margin-top: 47px;
    margin-left: 180px;
}
.man-app-add-develop,
.man-app-develop-items {
    border: 1px solid rgb(153, 153, 153);
    width: 141px;
    height: 37px;
    float: left;
    line-height: 37px;
    cursor: pointer;
}
.man-app-add-develop {
    background-color: rgb(204, 204, 204);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.man-app-develop-items {
    border-left: none;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: rgb(153, 153, 153);
}
.man-app-add-develop1 {
    background-color: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
}
.man-app-develop-items1 {
    background-color: rgb(204, 204, 204);
    color: rgb(51, 51, 51);
}
.addDeveloperLayer ul {
    margin: 0;
    padding: 0;
    margin-top: 26px;
}
.man-app-input {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 12px;
}
.man-app-input input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    width: 448px;
    height: 34px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 37px;
    padding-left: 12px
}
.man-app-section-tipserror {
    display: block;
    position: absolute;
    left: 102px;
    top: 151px;
}
.man-app-info {
    color: rgb(153, 153, 153);
    text-align: left;
    margin-top: 20px;
    margin-left: 90px;
}
.man-app-info span {
    vertical-align: text-bottom;
}
.man-app-info1 {
    margin-top: 3px;
}
.man-app-info i {
    padding-right: 12px;
}
.man-app-btn {
    margin-top: 40px;
    width: 221px;
    height: 37px； font-size: 14px;
}
.man-app-btn-close {
    width: 141px;
    height: 37px;
    margin-top: 82px;
}
.man-app-btn-check {
    margin-top: 82px;
    margin-left: 20px;
    width: 141px;
    height: 37px;
}
.man-app-spinner {
    margin-top: 33px;
}
.man-app-spinner > div {
    background-color: rgb(102, 102, 102);
}
/* ==========================================================================

   ***************************删除应用弹窗***************************
   ========================================================================== */

#del-app,
#del-app-success {
    width: 660px;
    margin: 0 auto;
    text-align: center;
    webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.del-app-cancle {
    float: right;
    font-size: 24px;
    margin-bottom: -15px;
}
.del-app-cancle a {
    color: rgb(153, 153, 153);
}
.del-app-title {
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(237, 237, 237);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 641px;
    height: 195px;
    float: left;
    background: rgb(255, 255, 255);
}
.del-app-title-trash {
    margin-top: 37px;
}
.del-app-title-trash i {
    font-size: 48px;
    color: rgb(235, 50, 50);
}
.del-app-title-text {
    font-size: 24px;
    color: rgb(235, 50, 50);
    letter-spacing: 1px;
    margin-top: 12px;
}
.del-app-form {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    background-color: rgb(237, 237, 237);
    width: 641px;
    height: 372px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    position: relative;
}
/*成功提示的部分*/

.del-app-success-prompt {
    font-size: 48px;
    color: rgb(235, 50, 50);
    float: left;
    margin-top: 122px;
    margin-left: 174px;
}
.del-app-success-prompt-text {
    margin-left: 13px;
}
/*成功提示的部分*/

.del-app-info-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
    margin-left: 126px;
    letter-spacing: 0.1px;
}
.del-app-info {
    color: rgb(153, 153, 153);
    text-align: left;
    margin-top: 13px;
    margin-left: 126px;
}
.del-app-info span {
    vertical-align: text-bottom;
}
.del-app-info1 {
    margin-top: 4px;
}
.del-app-info i {
    padding-right: 10px;
    color: rgb(235, 50, 50);
}
.del-app-form ul {
    margin: 0;
    padding: 0;
    margin-top: 26px;
}
.del-app-input {
    padding-top: 0;
    padding-bottom: 0;
}
.del-app-input input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    height: 34px;
    width: 366px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 37px;
    padding-left: 12px;
}
.del-app-section-tipserror {
    display: block;
    position: absolute;
    left: 136px;
    top: 209px;
}
.del-app-info2 {
    margin-top: 18px;
}
.del-app-info2 i {
    color: rgb(153, 153, 153);
}
.del-app-btn,
.ret-app-btn {
    width: 140px;
    height: 37px;
    margin-top: 45px;
}
.ret-app-btn {
    margin-left: 20px;
    color: #E84D1E;
    border: 1px solid #E84D1E;
}
.del-app-btn-close {
    width: 222px;
    height: 37px;
    margin-top: 88px;
}
.del-app-spinner {
    margin-top: 12px;
}
.del-app-spinner > div {
    background-color: rgb(102, 102, 102);
}
/* 弹窗开始 */

/* Anti FOUC */

.remodal,
[data-remodal-id] {
    visibility: hidden;
}
/* Necessary styles of the overlay */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}
/* Necessary styles of the wrapper */

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}
/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
    -webkit-transform: translateZ(0px);
}
/* Necessary styles of the modal dialog */

.remodal {
    position: relative;
    display: inline-block;
}
/* ==========================================================================
   Remodal default theme
   ========================================================================== */

/* Background for effects */

.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s ease-out;
    -moz-transition: -moz-filter 0.2s ease-out;
    -o-transition: -o-filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
}
body.remodal-is-active .remodal-bg {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
}
/* Default theme styles of the overlay */

.remodal-overlay {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background: rgba(33, 36, 46, 0.95);
}
body.remodal-is-active .remodal-overlay {
    opacity: 1;
}
/* Default theme styles of the modal dialog */

.remodal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /*    min-height: 100%;*/
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
}
body.remodal-is-active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}
/* 弹窗结束*/

/* ==========================================================================

   ***************************服务器错误弹窗***************************
   ========================================================================== */

#error {
    border: 1px solid rgb(204, 204, 204);
    width: 480px;
    height: 421px;
    border-radius: 5px;
    /*    text-align: center;*/
    margin: 0 auto;
    text-align: center;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 33%;
    top: 18%;
}
.error-img {
    margin: 0;
    margin-top: 59px;
}
.error-text {
    font-size: 48px;
    color: rgb(233, 88, 70);
}
.error-info {
    margin: 0;
    color: rgb(51, 51, 51);
}
.error-btn {
    width: 161px;
    height: 37px;
    font-size: 14px;
    margin-top: 60px;
}
/*离开应用*/

#leave-app,
#upgrade-app {
    width: 660px;
    margin: 0 auto;
    text-align: center;
    webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.leave-app-cancle {
    float: right;
    font-size: 24px;
    margin-bottom: -15px;
}
.leave-app-cancle a {
    color: rgb(153, 153, 153);
}
.leave-app-title {
    margin: 0;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(237, 237, 237);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 641px;
    height: 195px;
    float: left;
    background: rgb(255, 255, 255);
}
.leave-app-log-out {
    margin-top: 37px;
}
.leave-app-log-out i {
    font-size: 48px;
    color: rgb(235, 50, 50);
}
.leave-app-title-text {
    font-size: 24px;
    color: rgb(235, 50, 50);
    letter-spacing: 1px;
    margin-top: 12px;
}
.leave-app-form {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    background-color: rgb(237, 237, 237);
    width: 641px;
    height: 216px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    position: relative;
}
.leave-app-info-title {
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
    text-align: left;
    margin-left: 126px;
    letter-spacing: 0.1px;
}
.leave-app-info {
    color: rgb(153, 153, 153);
    text-align: left;
    margin-top: 46px;
    margin-left: 82px;
}
.leave-app-info span {
    vertical-align: text-bottom;
}
.leave-app-info1 {
    margin-top: 4px;
}
.leave-app-info i {
    padding-right: 10px;
    color: rgb(235, 50, 50);
}
.leave-app-btn {
    width: 140px;
    height: 37px;
    margin-top: 45px;
}
.leave-app-btn-close {
    width: 222px;
    height: 37px;
    margin-top: 88px;
}
/*离开应用*/

/*升级套餐*/

#upgrade-app {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.upgrade-app-cancle {
    float: right;
    font-size: 24px;
    margin-bottom: -15px;
}
.upgrade-app-cancle a {
    color: rgb(153, 153, 153);
}
.upgrade-app-content {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 940px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
.upgrade-app-title {
    font-size: 20px;
    color: rgb(232, 77, 30);
    width: 150px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 45px auto 0;
    padding-bottom: 20px;
}
.upgrade-app-title i {
    margin-right: 5px;
    vertical-align: text-bottom;
}
.upgrade-app-detial {
    color: rgb(153, 153, 153);
    overflow: hidden;
}
.upgrade-app-detials dl,
.upgrade-app-detials dd,
.upgrade-app-detials dt {
    margin: 0;
    padding: 0;
}
/*调整5个列表的位置*/

.upgrade-app-detials000 {
    float: left;
    width: 140px;
    margin-left: 40px;
}
.upgrade-app-detials001,
.upgrade-app-detials100 {
    float: left;
    width: 140px;
    margin-left: 20px;
}
.upgrade-app-detials010 {
    float: left;
    width: 160px;
    margin-left: 50px;
}
.upgrade-app-detials011 {
    float: left;
    width: 140px;
    margin-left: 50px;
}
/*调整5个列表的位置*/

.upgrade-app-detials dl {
    margin-top: 23px;
    font-size: 20px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(204, 204, 204)
}
.upgrade-app-detials dl i {
    margin-right: 5px;
}
.upgrade-app-detials dt {
    font-size: 24px;
    margin-top: 20px;
    text-align: left;
    margin-left: 25px;
}
.upgrade-app-detials dd {
    line-height: 2;
    text-align: left;
    margin-left: 37px;
}
.upgrade-app-detials000 dt {
    margin-left: 30px;
    font-size: 20px;
    padding-bottom: 7px;
}
.upgrade-app-detials000 dd {
    margin-left: 30px;
}
.upgrade-app-detials010 dd {
    margin-left: 37px;
    margin-top: 10px;
    line-height: 1.6;
}
.upgrade-app-detials-money {
    font-weight: 700;
}
.upgrade-app-detials010 {
    color: rgb(102, 102, 102);
}
.upgrade-app-detials010 dt {
    margin-left: 10px;
    font-size: 36px;
    color: rgb(232, 77, 30);
}
.upgrade-app-detials sup {
    font-weight: normal;
    font-size: 12px;
}
.upgrade-app-detials-decimal-point {
    border-bottom: 1px solid rgb(153, 153, 153);
}
.upgrade-app-detials-unit {
    padding-left: 3px;
    border-left: 1px solid rgb(153, 153, 153);
}
/*00的下划线和“月”左边的竖线的样式*/

.upgrade-app-detials-decimal-point010 {
    border-color: rgb(232, 77, 30);
}
.upgrade-app-detials-unit010 {
    border-color: rgb(102, 102, 102);
}
/*00的下划线和“月”左边的竖线的样式结束*/

/*中间那个特殊的月的大小*/

.upgrade-app-detials-unit010 {
    font-size: 20px;
    color: rgb(102, 102, 102);
}
/*中间那个特殊的月的大小结束*/

.upgrade-app-detials010 sup {
    font-size: 20px;
}
.upgrade-app-detials010 dd {
    font-size: 18px;
}
.upgrade-app-detials-num {
    color: rgb(232, 77, 30);
    font-weight: 600;
}
.upgrade-app-detials-func {
    margin-top: 57px !important;
    /*    text-align: center !important;*/
}
.upgrade-app-exp {
    margin-top: 50px;
    color: rgb(153, 153, 153);
}
.upgrade-app-exp sup,
.upgrade-app-exp em {
    font-style: normal;
    color: rgb(51, 51, 51);
}
.upgrade-app-exp sup {
    position: relative;
    top: 0;
}
/*升级套餐结束*/

/*弹框部分结束*/