@charset "UTF-8";
 .wrapper {
    margin: auto;
    width: 960px;
    margin-top: 76px;
    padding: 0 10px;
}
.row {
    clear: both
}
.fifth,
.fivesixth,
.fourfifth,
.half,
.ninetenth,
.quarter,
.sevententh,
.sixth,
.tenth,
.third,
.threefifth,
.threequarter,
.threetenth,
.twofifth,
.twothird,
.full {
    margin-left: 2.127659574468085%;
    float: left;
    min-height: 1px
}
.fifth:first-child,
.fivesixth:first-child,
.fourfifth:first-child,
.half:first-child,
.ninetenth:first-child,
.quarter:first-child,
.sevententh:first-child,
.sixth:first-child,
.tenth:first-child,
.third:first-child,
.threefifth:first-child,
.threequarter:first-child,
.threetenth:first-child,
.twofifth:first-child,
.twothird:first-child,
.full:first-child {
    margin-left: 0;
}
.tenth {
    width: 8.08510638297872%
}
.sixth {
    width: 14.8936170212766%
}
.fifth {
    width: 18.2978723404255%
}
.quarter {
    width: 23.404255319148938%
}
.threetenth {
    width: 27.23404255%
}
.third {
    width: 31.914893617021278%
}
.twofifth {
    width: 37.021276595744675%
}
.half {
    width: 48.93617021276596%
}
.threefifth {
    width: 56.595744680851055%
}
.twothird {
    width: 65.95744680851064%
}
.sevententh {
    width: 66.38297872%
}
.threequarter {
    width: 74.46808510638297%
}
.fourfifth {
    width: 76.170212765957435%
}
.fivesixth {
    width: 82.9787234042553%
}
.ninetenth {
    width: 85.95744681%
}
.full {
    width: 100%
}
.push-twelfth:first-child {
    margin-left: 8.51063829787234%
}
.push-sixth {
    margin-left: 14.893617021276595%
}
.push-fifth {
    margin-left: 18.297872340425535%
}
.push-quarter {
    margin-left: 23.404255319148938%
}
.push-third {
    margin-left: 31.914893617021278%
}
.push-half {
    margin-left: 48.93617021276596%
}
.push-threequarter {
    margin-left: 74.46808510638297%
}
.push-twothird {
    margin-left: 65.95744680851064%
}
.push-twofifth {
    margin-left: 38.72340425531915%
}
.push-threefifth {
    margin-left: 59.14893617021278%
}
.push-fourfifth {
    margin-left: 79.57446808510639%
}
.push-fivesixth {
    margin-left: 82.9787234042553%
}
.field {
    margin-bottom: 20px
}
label {
    display: block;
    margin-bottom: 10px
}
label.inline {
    display: inline-block
}
label.checkbox {
    cursor: pointer
}
label.checkbox input,
label.checkbox span {
    vertical-align: middle
}
label.checkbox input {
    margin-right: 5px
}
.text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}
.btn {
    /*    border: 1px solid transparent;*/
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 8px 10px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    height: 50px;
}
.btn.btn-small {
    padding: 5px 10px;
    font-size: 14px
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 35px
}
.btn:hover {
    text-decoration: none
}
.btn.disabled {
    opacity: .35
}
.btn:disabled {
    opacity: .35
}
.btn:focus {
    outline: 0
}
.btn.orange {
    background-color: #faab3b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb44d), color-stop(#fbb147, 4%), color-stop(#faaa39, 29%), to(#f8950a));
    background-image: -webkit-linear-gradient(#fbb44d, #fbb147 4%, #faaa39 29%, #f89912 83%, #f8950a);
    background-image: -moz-linear-gradient(top, #fbb44d, #fbb147 4%, #faaa39 29%, #f89912 83%, #f8950a);
    background-image: -o-linear-gradient(#fbb44d, #fbb147 4%, #faaa39 29%, #f89912 83%, #f8950a);
    background-image: linear-gradient(#fbb44d, #fbb147 4%, #faaa39 29%, #f89912 83%, #f8950a);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffbb44d', endColorstr='#fff8950a', GradientType=0);
    border-color: #d7902b;
    color: #fff;
    -webkit-box-shadow: 1px 1px 1px #fcbf69 inset;
    -moz-box-shadow: 1px 1px 1px #fcbf69 inset;
    box-shadow: 1px 1px 1px #fcbf69 inset
}
.btn.orange:hover {
    background: #FAAC3B
}
.btn.orange:active {
    background: #f8950a
}
.btn.grey {
    border-color: #525252;
    color: #fff;
    background-color: #505050;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), color-stop(4%, #525252), to(#494949));
    background-image: -webkit-linear-gradient(#555, #525252 4%, #494949);
    background-image: -moz-linear-gradient(top, #555, #525252 4%, #494949);
    background-image: -o-linear-gradient(#555, #525252 4%, #494949);
    background-image: linear-gradient(#555, #525252 4%, #494949);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff494949', GradientType=0);
    -webkit-box-shadow: 0 1px 0 #686868 inset;
    -moz-box-shadow: 0 1px 0 #686868 inset;
    box-shadow: 0 1px 0 #686868 inset
}
.btn.grey:hover {
    background: #515151
}
.btn.grey:active {
    background: #494949
}
.btn.white {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(#fbfbfb, 4%), color-stop(#eaeaea, 80%), to(#e7e7e7));
    background-image: -webkit-linear-gradient(#fff, #fbfbfb 4%, #eaeaea 80%, #e7e7e7);
    background-image: -moz-linear-gradient(top, #fff, #fbfbfb 4%, #eaeaea 80%, #e7e7e7);
    background-image: -o-linear-gradient(#fff, #fbfbfb 4%, #eaeaea 80%, #e7e7e7);
    background-image: linear-gradient(#fff, #fbfbfb 4%, #eaeaea 80%, #e7e7e7);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe7e7e7', GradientType=0);
    border-color: #bababa;
    color: #353535;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none
}
.btn.white:hover {
    background: #e8e8e8
}
.btn.white:active {
    background: #d5d5d5
}
.btn.blue {
    background-color: #3b7bfa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d87fb), color-stop(#4783fb, 4%), color-stop(#3979fa, 29%), to(#0a59f8));
    background-image: -webkit-linear-gradient(#4d87fb, #4783fb 4%, #3979fa 29%, #125ff8 83%, #0a59f8);
    background-image: -moz-linear-gradient(top, #4d87fb, #4783fb 4%, #3979fa 29%, #125ff8 83%, #0a59f8);
    background-image: -o-linear-gradient(#4d87fb, #4783fb 4%, #3979fa 29%, #125ff8 83%, #0a59f8);
    background-image: linear-gradient(#4d87fb, #4783fb 4%, #3979fa 29%, #125ff8 83%, #0a59f8);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff4d87fb', endColorstr='#ff0a59f8', GradientType=0);
    border-color: #2B64D7;
    color: #ebebeb;
    -webkit-box-shadow: 1px 1px 1px #699afc inset;
    -moz-box-shadow: 1px 1px 1px #699afc inset;
    box-shadow: 1px 1px 1px #699afc inset
}
.btn.blue:hover {
    background: #3B7BFA
}
.btn.blue:active {
    background: #0A59F8
}
.btn.signup {
    display: inline-block;
    padding: 15px 60px;
    vertical-align: middle
}
.docs .btn {
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    -webkit-box-shadow: 1px 2px 3px #333;
    -moz-box-shadow: 1px 2px 3px #333;
    box-shadow: 1px 2px 3px #333;
    -webkit-text-shadow: 1px -1px 0 #555;
    -moz-text-shadow: 1px -1px 0 #555;
    text-shadow: 1px -1px 0 #555
}
.docs #main .btn:hover {
    text-decoration: none
}
.btn.sample {
    margin-top: 40px;
    position: absolute;
    bottom: 30px;
    left: 55px;
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-decoration: none
}
.selector-choice:not(:first-child):not(:last-child) {
    border-right: 0!important;
    border-radius: 0!important
}
.selector-choice:first-child {
    -moz-border-radius: 3px 0 0 3px!important;
    -webkit-border-radius: 3px 0 0 3px!important;
    border-radius: 3px 0 0 3px!important;
    border-right: 0!important
}
.selector-choice:last-child {
    -moz-border-radius: 0 3px 3px 0!important;
    -webkit-border-radius: 0 3px 3px 0!important;
    border-radius: 0 3px 3px 0!important
}
.caret {
    height: 0;
    width: 0;
    margin-left: 0;
    margin-top: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FFF;
    content: "";
    display: inline-block;
    vertical-align: top
}
#test-page h1 {
    font-size: 36px;
    text-align: center
}
.prettyprint {
    overflow: hidden;
    position: relative;
    background: #1d232b;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-family: Monaco,"Lucida Console",monospace;
}
.prettyprint {
    padding: 10px 15px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    font-size: 12px;
    font-weight: 700
}
.prettyprint strong {
    color: #ff0!important
}
.prettyprint .str,
.prettyprint .atv {
    color: #e6db70;
}
.prettyprint .kwd {
    color: #66d9ef;
}
.prettyprint .typ,
.prettyprint .tag {
    color: #f92772;
}
.prettyprint .str,
.prettyprint .atv {
    color: #e6db70;
}
.prettyprint .com {
    color: #738aa6;
}
.main-content pre {
    border-radius: 3px;
    background: #000;
    border: none;
    color: #FFF;
    font-size: 14px;
    display: block;
    overflow: auto
}
.main-content pre code {
    border-radius: 3px;
    background: #000;
    border: none;
    color: #FFF;
    font-size: 14px;
    display: block
}
pre .nocode {
    background-color: none;
    color: #fff
}
pre .str {
    color: #8cb775
}
pre .kwd {
    color: #faba03;
    font-weight: 700
}
pre .com {
    color: #87ceeb
}
pre .typ {
    color: #ff0
}
pre .lit {
    color: #cd5c5c
}
pre .pun {
    color: #fff
}
pre .pln {
    color: #fff
}
pre .tag {
    color: #ff0;
    font-weight: 700
}
pre .atn {
    color: #bdb76b;
    font-weight: 700
}
pre .atv {
    color: #ffa0a0
}
pre .dec {
    color: #98fb98
}
@media print {
    pre {
        background-color: none
    }
    pre .str,
    code .str {
        color: #060
    }
    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: 700
    }
    pre .com,
    code .com {
        color: #600;
        font-style: italic
    }
    pre .typ,
    code .typ {
        color: #404;
        font-weight: 700
    }
    pre .lit,
    code .lit {
        color: #044
    }
    pre .pun,
    code .pun {
        color: #440
    }
    pre .pln,
    code .pln {
        color: #000
    }
    pre .tag,
    code .tag {
        color: #006;
        font-weight: 700
    }
    pre .atn,
    code .atn {
        color: #404
    }
    pre .atv,
    code .atv {
        color: #060
    }
}
pre .keyword,
pre .javascript .function {
    color: #faba03;
    font-weight: 700
}
pre .comment,
pre .title {
    color: #87ceeb
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #8cb775
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #cd5c5c
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #ff0
}
.tomorrow-red,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #d54e53
}
.tomorrow-aqua,
pre .css .hexcolor {
    color: #70c0b1
}
.tomorrow-blue,
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #7aa6da
}
pre code {
    display: block;
    background: #000;
    color: #eaeaea;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;
    padding: 10px 15px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    font-size: 12px;
    font-weight: 700
}
pre code strong {
    color: #ff0!important
}
.hide {
    display: none
}

.button-ide {
    display: inline-block;
    border-radius: 3px;
    line-height: 32px;
    font-size: 16px;
    padding: 0 20px;
    margin-right: 10px;
    text-decoration: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .9), 0 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer
}
.button-ide>i {
    font-size: 12px
}
.button-ide:hover {
    text-decoration: none
}
.button-ide.is-selected,
.button-ide:active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .9)
}
.button-ide-default {
    color: #1d9dff;
    background-color: #EEE;
    background: -webkit-linear-gradient(top, #EEE, #DDD);
    background: linear-gradient(to bottom, #EEE, #DDD);
    border: 1px solid #CCC
}
.button-ide-default.is-selected,
.button-ide-default:active {
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border: 1px solid #b3b3b3;
    background: #DDD;
    background: -webkit-linear-gradient(top, #CCC, #DDD);
    background: linear-gradient(to bottom, #CCC, #DDD)
}
.tutorial-ide {
    border-radius: 3px;
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fcfcfc
}
.tutorial-ide .tutorial-readonly {
    background: #ddd
}
.tutorial-ide .tutorial-toolbar {
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
    background: #E8E8E8;
    padding: 10px
}
.tutorial-ide .tutorial-live-example {
    position: relative;
    height: 500px
}
.tutorial-ide .tutorial-popout {
    background: #EEE;
    border-radius: 3px;
    border: 1px solid #CCC;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
    margin: 0
}
.tutorial-ide .tutorial-popout:hover {
    background: #FFF;
    color: #50b1ff
}
.tutorial-ide .tutorial-iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0
}
#gettingstarteddiv {
    text-align: center;
    padding-top: 150px
}
#headertext {
    float: left;
}
#gettingstarteddiv h3 {
    font-size: 36px;
    width: 75%;
    margin: 0 auto 50px;
}
#spinnerImage {
    vertical-align: middle;
    margin: 10px
}
#spinnerHolder {
    padding-top: 170px;
    text-align: center;
}
.grid-fixed {
    width: 960px;
    margin: 0 auto;
}
#tutorialbody {
    min-height: 450px;
    overflow: auto;
    padding: 60px;
}
#tutorialbodyheader {
    margin-bottom: 20px;
}
#tutorialbodyheader p {
    line-height: 28px;
    font-size: 16px;
    margin: 0;
}
#tutorialbodyheader h3 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
}
#tutorialbodyheader ul {
    margin: 0;
}
#tutorialbodyheader table {
    margin: 0;
}
#tutorialbodyheader td {
    margin: 0;
    border: none;
}
#lightHR {
    border-bottom: 3px solid #EEE;
    margin-bottom: 10px;
}
#lightHR h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
#fadeOutArea {
    vertical-align: middle;
    width: 100%
}
#instructions {
    margin-right: 12px;
    font-size: 14px
}
#instructions p,
#instructions h3 {
    padding: 5px 0;
}
#instructions ul {
    padding-left: 40px;
    list-style: square;
}
#instructions ul li {
    margin-bottom: 15px;
    line-height: 28px;
}
}
.rightColumn {
    font-size: 14px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25;
    color: #63676c;
    padding: 15px;
}
#examplesDiv {
    text-align: left;
    width: 130px;
    float: right;
}
.spacer-bottom-0 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
}
.compact {
    padding: 0;
    padding-left: 30px;
    list-style-type: disc;
}
.compact li {
    margin-bottom: 10px;
    line-height: 28px;
}
.compact li a {
    text-decoration: underline;
}
.moreExamplesText {
    text-decoration: underline;
    line-height: 1.45;
}
#advanceButton {
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0 8px 0;
}
#errorText {
    color: red;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
#progressWidget {
    float: right;
}
#lessonnumbuttons {
    float: right;
}
#progressWidget ul {
    margin: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
}
#progressWidget ul li {
    display: inline-block;
    list-style: none;
    border: 1px solid #ddd;
    font-weight: 700;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 15px;
    line-height: 28px;
}
#progressWidget ul li a {
    padding: 5px 15px;
    display: inline-block;
    color: #333;
}
#progressWidget ul li a:hover {
    color: #50b1ff;
    border-color: #50b1ff;
}
.progressLeftEnd {
    border-left: 1px solid red;
}
.progressRightEnd {
    border-right: 1px solid green;
}
#lessonnumbuttons a {
    text-decoration: none;
}
#progressWidget .active {
    border: 1px solid #fec324;
    background-color: #fffbf3;
    color: #fff;
    box-shadow: none;
    /*    padding: 5px 15px;*/
    display: inline-block;
    color: #000;
}
#shareWidget {
    float: right;
    margin-top: 10px;
    font-size: 12px
}
.clearall {
    clear: both!important
}
pre {
    border-radius: 3px;
    background: #000;
    border: none;
    color: #FFF;
    font-size: 14px;
    display: block;
    overflow: auto;
}
pre code {
    border-radius: 3px;
    background: #000;
    border: none;
    color: #FFF;
    font-size: 14px;
    display: block
}
.CodeMirror {
    line-height: 1.35!important;
    font-size: 14px
}
.CodeMirror-scroll {
    overflow: auto;
}
.CodeMirror-lines {
    padding: 0;
}
.CodeMirror pre {
    padding: 0 4px;
}
.CodeMirror-scrollbar-filler {
    background-color: #fff;
}
.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
}
.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
}
.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #000;
}
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    width: auto;
    border: 0;
    background: 0 0;
    background: rgba(0, 200, 0, .4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800);
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor:not(#nonsense_id) {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}
.cm-s-default .cm-keyword {
    color: #708;
}
.cm-s-default .cm-atom {
    color: #219;
}
.cm-s-default .cm-number {
    color: #164;
}
.cm-s-default .cm-def {
    color: #00f;
}
.cm-s-default .cm-variable {
    color: #000;
}
.cm-s-default .cm-variable-2 {
    color: #05a;
}
.cm-s-default .cm-variable-3 {
    color: #085;
}
.cm-s-default .cm-property {
    color: #000;
}
.cm-s-default .cm-operator {
    color: #000;
}
.cm-s-default .cm-comment {
    color: #a50;
}
.cm-s-default .cm-string {
    color: #a11;
}
.cm-s-default .cm-string-2 {
    color: #f50;
}
.cm-s-default .cm-meta {
    color: #555;
}
.cm-s-default .cm-error {
    color: red;
}
.cm-s-default .cm-qualifier {
    color: #555;
}
.cm-s-default .cm-builtin {
    color: #30a;
}
.cm-s-default .cm-bracket {
    color: #997;
}
.cm-s-default .cm-tag {
    color: #170;
}
.cm-s-default .cm-attribute {
    color: #00c;
}
.cm-s-default .cm-header {
    color: #00f;
}
.cm-s-default .cm-quote {
    color: #090;
}
.cm-s-default .cm-hr {
    color: #999;
}
.cm-s-default .cm-link {
    color: #00c;
}
.cm-negative {
    color: #d44;
}
.cm-positive {
    color: #292;
}
.cm-header,
.cm-strong {
    font-weight: 700;
}
.cm-em {
    font-style: italic;
}
.cm-emstrong {
    font-style: italic;
    font-weight: 700
}
.cm-link {
    text-decoration: underline;
}
.cm-invalidchar {
    color: red;
}
div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0f0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22;
}
.CodeMirror {
    line-height: 1;
    position: relative;
    overflow: hidden
}
.CodeMirror-scroll {
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 100%;
    outline: 0;
    position: relative;
}
.CodeMirror-sizer {
    position: relative;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler {
    position: absolute;
    z-index: 6;
    display: none;
}
.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
    z-index: 6;
}
.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
}
.CodeMirror-gutter {
    height: 100%;
    display: inline-block;
}
.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}
.CodeMirror-lines {
    cursor: text
}
.CodeMirror pre {
    border-radius: 0;
    border-width: 0;
    background: 0 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: 22px;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
}
.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}
.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto;
}
.CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: hidden
}
.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.CodeMirror-measure pre {
    position: static
}
.CodeMirror div.CodeMirror-cursor {
    position: absolute;
    visibility: hidden;
    border-right: none;
    width: 0;
}
.CodeMirror-focused div.CodeMirror-cursor {
    visibility: visible;
}
.CodeMirror-selected {
    background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0;
}
.cm-searching {
    background: #ffa;
    background: rgba(255, 255, 0, .4);
}
@media print {
    .CodeMirror div.CodeMirror-cursor {
        visibility: hidden;
    }
}