#main {
    min-height: 540px;
}
.login-main {
    position: absolute;
    top: 22.22%;
    left: 29.79%;
    text-align: left;
}
.login-free {
    font-size: 24px;
}
.login-free-or {
    float: right;
    letter-spacing: 1px;
    font-size: 12px;
    color: rgb(204, 204, 204);
}
.login-free-or a {
    font-size: 12px;
    padding-left: 2px;
}
.login-form {
    position: relative;
}
.section-tipserror {
    position: absolute;
    left: 10px;
}
.login-form ul {
    margin: 0;
    padding: 0;
    margin-top: 45px;
}
.login-form-li {
    margin-top: 25px;
}
.login-input {
    width: 388px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
}
.login-button {
    margin-top: 27px;
}
.login-btn {
    width: 159px;
}
.login-text-or2 {
    padding-left: 22px;
    color: rgb(204, 204, 204);
}
.login-button a i {
    padding-left: 15px;
    font-size: 36px;
    color: rgb(204, 204, 204);
    position: relative;
    top: 12px;
}
.login-button a i:hover {
    color: rgb(204, 68, 27);
}
.login-notes {
    margin-top: 22px;
}
.login-notes a {
    color: rgb(204, 204, 204);
}
.login-notes a:hover {
    color: rgb(204, 68, 27);
    border-bottom: 1px solid rgb(204, 68, 27);
}
.login-spinner {
    margin-top: 59px;
}