#main {
    min-height: 540px;
}
.register-main {
    position: absolute;
    top: 22.22%;
    left: 160px;
    text-align: left;
}
.register-create {
    float: left;
}
.register-free {
    font-size: 24px;
}
.register-form {
    position: relative;
    width: 442px;
    border-right: 1px solid rgb(204, 204, 204);
}
.section-tipserror {
    position: absolute;
    left: 10px;
}
.register-form ul {
    margin: 0;
    padding: 0;
    margin-top: 45px;
}
.register-form-li {
    margin-top: 25px;
}
.register-input-password-check {
    padding: 0;
    display: inline-block;
    position: absolute;
    right: 51px;
    top: 65px;
/*
    position: relative;
    top: 11px;
    right: 19px;
*/
}
.register-check-level1,
.register-check-level2,
.register-check-level3,
.register-check-level4 {
    width: 4px;
    height: 4px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 2px;
}
/*多加的类 用于密码检测*/

.register-check-level-checked {
    border: 1px solid rgb(232, 77, 30);
    background-color: rgb(255, 158, 128);
    width: 4px;
    height: 4px;
}
/*多加的类 密码检测*/

.register-input {
    width: 388px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
}
.password-hint {
    position: absolute;
    top: 0px;
    right: -38%;
    z-index: 10px;
    background-color: rgb(230, 230, 230);
    width: 187px;
    height: 157px;
    border-radius: 3px;
}
.password-hint-triangle {
    position: absolute;
    z-index: 10px;
    top:66px;
    left:-10px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(230, 230, 230);
}
.password-level {
   color: rgb( 232, 77, 30 );

}
.password-hint-text {
    margin-top: 10px;
    margin-left: 23px;
    line-height: 2;
    width: 145px;
    height: 130px;
}
.register-button {
    margin-top: 50px;
}
.register-btn {
    width: 159px;
}
.login-text-or2 {
    padding-left: 22px;
    color: rgb(204, 204, 204);
}
.register-button a {
    margin-left: 15px;
    font-size: 12px;
    color: rgb(204, 204, 204);
}
.register-button a:hover {
    color: rgb(204, 68, 27);
    border-bottom: 1px solid rgb(204, 68, 27);
}
.register-notes {
    margin-top: 22px;
}
.register-notes a {
    color: rgb(204, 204, 204);
}
.register-notes a:hover {
    color: rgb(204, 68, 27);
    border-bottom: 1px solid rgb(204, 68, 27);
}
.register-create-text {
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 75px;
    margin-left: 40px;
}
.register-create-text li {
    color: rgb(162, 207, 165);
    font-size: 14px;
    line-height: 34px;
}
.register-create-text li i {
    font-size: 12px;
    padding-right: 10px;
}
.register-spinner {
    margin-top: 59px;
}