#main {
    min-height: 540px;
}
.reset-main {
    position: absolute;
    top: 22.22%;
    left: 29.79%;
    text-align: left;
}
.reset-free {
    font-size: 24px;
}
.login-form {
    position: relative;
}
.section-tipserror {
    position: absolute;
    left: 10px;
}
.reset-form ul {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.reset-input {
    width: 388px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
}
.reset-btn {
    margin-top: 48px;
    width: 159px;
}
.reset-spinner {
    margin-top: 152px;
}