.header-info span {
    margin: 0;
    position: absolute;
    top: 40px;
    line-height: 12px;
}
.service-agreement-login {
    right: 34px;
    padding-right: 11px;
    border-right: 2px solid rgb(204, 204, 204);
}
.service-agreement-regis {
    right: 0;
}
main {
    margin: auto;
    margin-top: 47px;
    width: 940px;
}
h1 {
    font-size: 20px;
    float: left;
}
h1 span {
    font-size: 12px;
    padding-left: 10px;
    color: rgb(204, 204, 204);
}
.service-agreement-download {
    float: right;
    color: rgb(204, 204, 204);
}
.service-agreement-download a {
    color: rgb(204, 204, 204);
}
.download-icon {
    font-size: 20px;
    margin-right: 10px;
}
.download-text {
    text-align: center;
    display: inline-block;
    vertical-align: super;
    border: 1px solid rgb(204, 204, 204);
    line-height: 25px;
    width: 80px;
    height: 25px;
    border-radius: 3px;
    font-size: 12px;
}
.service-agreement-detials section {
    margin-top: 47px;
}
.service-agreement-detials strong {
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.service-agreement-detials section ul {
    margin: 0;
    padding: 0;
    padding-left: 37px;
    line-height: 2;
    color: rgb(102, 102, 102);
}
.service-agreement-detials section ul li {
    line-height: 2;
    margin-top: 13px;
    list-style: decimal;
    list-style-position: outside;
}
.service-agreement-detials section p {
    margin: 0;
    color: rgb(102, 102, 102);
    font-weight: bold;
    padding: 20px 0 0 10px;
}
.service-agreement-up {
    width: 25px;
    height: 25px;
    background-color: rgb(193, 193, 193);
    border-radius: 3px;
    text-align: center;
    float: right;
    margin-top: 75px;
    cursor: pointer;
}
.service-agreement-up:hover {
    background-color: rgb(177, 69, 36);
}
.service-agreement-up i {
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.service-agreement-logo {
    width: 227px;
    margin: 0 auto;
    overflow: hidden;
}
.wilddog-info {
    float: left;
    margin-left: 10px;
}
.wilddog-icon i {
    font-size: 50px;
    color: rgb(153, 153, 153);
}
.wilddog-icon-sup {
    font-family: "Arial";
    top: -3.3em;
    color: rgb(153, 153, 153);
}
.wilddog-url {
    margin-top: -10px;
    color: rgb(153, 153, 153);
    ;
}
.wilddog-img {
    float: right;
    margin-top: 19px;
    margin-right: 12px;
}

#footer{
    position: static;
    margin-top: 100px;
}